.bookmark-list{
  list-style: none;
  padding-left: 0;  
}

.bookmark-list-item{
  border: 1px solid black;
  border-radius: 5px;
  width: 50%;
}

.item{
  flex: 1;
  margin: 10px;
  align-content: center;
  flex-direction: row;
  justify-content: space-evenly;
  
}

.rating{
  
  position: relative;
  padding-left: 35px;
}

span{
  justify-content: space-evenly;
  padding-right: 5px;
  
}

main{
  display: flex;
  flex-direction: column;
  list-style: none;
}

header{
  background-color: black;
  color: aliceblue;
  margin-bottom: 40px;
}

@media all and (min-width: 600px) {

}